/* Пример анимации для плавного перехода */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active в V2.1.8 и выше, или .fade-leave-active в более ранних версиях */ {
    opacity: 0;
}


.card {
    position: relative;
    overflow: hidden;
    width: 25rem;
    height: 30rem;
    border: none;
}

.card-body {
    position: relative;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
}

.row {
    backdrop-filter: blur(10px) !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.container h1 {
    color: var( --button-text);
    text-shadow: initial;
    margin-top: 5%;
    font-size: 60px;
    font-family: "Montserrat Alternates", sans-serif;
}

.container button {
    color: darkslategrey;
    font-weight:bold
}
.container h3 {
    color: var( --Count-Items);
    font-family: "Montserrat Alternates", sans-serif;
}
.container button {
    margin-bottom: 20px;
    color: darkslategrey;

}
.custom-button {
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
}

    .custom-button a {
        margin-top: 20px;
        display: inline-block;
        padding: 20px 40px; /* Увеличиваем отступы вокруг текста кнопки */
        color: var( --button-text);
        text-size-adjust: inherit;
        text-decoration: none;
        background-color: var(--button-background-color); /* Оранжевый фон с небольшой прозрачностью */
        border-radius: 10px; /* Закругление углов */
        transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
    }


        .custom-button a:hover {
            background-color: rgba(198, 216, 221, 1); /* изменение цвета фона при наведении */
            color: aliceblue;
        }

.Count-buttonCreate {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

body {
    background-color: var( --color-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    align-content: center;
    background-color: var( --body-background);
    margin-left: calc((100% - 100vw) / 2);
    margin-right: calc((100% - 100vw) / 2);
    align-items: center; /* Чтобы контейнер занимал всю высоту страницы */
}

