@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components


<link rel="stylesheet" href="~/css/HomeCarSharingPage.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<div class="GlobalTitle text-center">
    <h1 class="display-4">Welcome to Car Sharing</h1>
</div>
<div class="Container">
    <div class="intro">
        <button class="centered-button">
            <a asp-controller="CarSharing" asp-action="Index" style="text-decoration: none; color: inherit;">Let`s Start</a>
        </button>
    </div>
</div>

<script src="~/js/HomeCarSharingPage.js"></script>
